{% extends 'private/base.html' %}

{% block main %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my-events.css')}}">

<h1>My Events</h1>
<div class="events">
    {% for event in user_events %}
    <div class="event">
        <h2>{{event.event}} Ticket</h2>
        <br>
        <div class="event-details">
            <p><span>Registration ID -</span> {{event._id}}</p>
            <p><span>Student Name -</span> {{event.name}}</p>
            <p><span>Student Email -</span> {{event.email}}</p>
            {% if event.get('teamName') %}
            <p><span>Team Name -</span> {{event.teamName}}</p>
            <p><span>Team Members -</span> {% for member in event.teamMembers %}{{member}}{% if not loop.last %},
                {% endif %}{% endfor %}</p>
            {% endif %}
            <p><span>Payment Screenshot -</span> <a href="{{event.paymentScreenshot}}" target="_blank">View</a></p>
            <p><span>Payment Transaction ID -</span> {{event.paymentTransactionId}}</p>
            <p><span>Status -</span> {% if event.status == 'pending' %}The ticket is awaiting approval from the
                TechOdyssey
                team. You will receive an email once the ticket is approved.
                {% elif event.status == 'approved' %}The ticket has been approved, and you are all set to participate in
                the event.
                {% elif event.status == 'rejected' %}The ticket has been rejected. Please contact the TechOdyssey team
                for
                further details.
                {% endif %}
        </div>
    </div>
    {% else %}
    <div class="info-box" style="text-align: center;width: 100%;display: flex;flex-direction: column;align-items: center;margin-top: 100px;">
        <h2>No Events Registered</h2>
        <br>
        <div class="event-details" style="text-align: center;display: flex;flex-direction: column;align-items: center;">
            <div class="event-actions" style="display: flex;flex-direction: row;align-items: center;gap: 20px;flex-wrap: wrap;">
                <button class="primary-button" onclick="window.location.href='/register'">Register Now</button>
                <button class="secondary-button" onclick="window.location.href='/#events-section'">Explore Events</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}