{% extends 'private/base.html' %}

{% block main %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

<h1>Stats</h1>

<div class="stats-container">
    <h3>Basic Application Stats</h3>

    <p>Number of users: {{ number_of_application_users }}</p>
    <p>Number of event registrations: {{ number_of_event_registrations }}</p>
    <p>Total amount collected: ₹{{ total_amount_received }}</p>

</div>

<div class="registration-stats-container">
    <h3>Event Registration Stats</h3>
    {% for registration in event_registrations %}
    <div class="registration-stats">
        <div class="registration-info">
            <p>Registration ID: {{ registration._id }}</p>
            <p>Event Name: {{ registration.event }}</p>
            <p>User Name: {{ registration.name }}</p>
            <p>User Email: {{ registration.email }}</p>
            {% if registration.teamMembers %}
            <p>Team Members: {{ registration.teamMembers }}</p>
            {% endif %}
            <p>Approval Status: {{ registration.status | capitalize }}</p>
            <p>Payment Screenshot: <a href="{{ registration.paymentScreenshot }}" target="_blank">View</a></p>
            <br>
            {% if registration.status == 'pending' %}
            <button onclick="window.location.href='/admin/{{ registration._id }}/approve'">Approve</button>
            <button onclick="window.location.href='/admin/{{ registration._id }}/reject'">Reject</button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="user-stats-container">
    <h3>User Stats</h3>

    {% for user in application_users %}
    <div class="user-stats">
        <div class="user-image">
            <img src="{{ user.user_info.user_avatar_url }}" alt="User Image">
        </div>
        <div class="user-info">
            <p>User ID: {{ user._id }}</p>
            <p>Name: {{ user.user_info.user_name }}</p>
            <p>Email: {{ user.user_email }}</p>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}