main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    min-height: calc(100vh - 70px);
}

.faq-section {
    padding: 100px 0px !important;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    z-index: 1;
    text-align: center;
}

p {
    padding: 20px;
    font-size: 1.2rem;
}

.event-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    gap: 20px;
}

.event-description-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    background-color: #000 !important;
    padding: 20px;
    border-radius: 10px;
}

.event-description-image img {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-shadow: 3px 3px 1px 0 rgba(52, 115, 108, 0.5);
}

.event-description-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.event-description-text h2 {
    font-size: 2rem;
    font-weight: 900;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    z-index: 1;
}

.event-description-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.event-description-text ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}


@media (max-width: 768px) {

    @media screen and (max-width: 768px) {

        * {
            box-sizing: border-box;
            font-size: 12px;
        }

        h1 {
            font-size: 3rem;
            line-height: 4rem;
        }

        .event-description {
            flex-direction: column;
            gap: 20px;
        }

        .event-description-image img {
            max-width: 100%;
        }

        .event-description-text h2 {
            font-size: 1.5rem;
        }

        .event-description-text ul li strong {
            font-size: 1rem;
        }

        .event-description-text ul li span {
            font-size: 1rem;
        }
    }
}