footer {
    background-color: #000;
    padding: 10px 20px;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .container .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .container .row div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

footer .container .row div a {
    color: #fff;
    text-decoration: none;
}

footer .container .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

footer .container .social-media li {
    list-style: none;
}

@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
        gap: 20px;
    }

    footer .container .row {
        flex-direction: column-reverse;
        justify-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }



    footer .container .row p{
        margin-left: 0;
        text-align: left;
    }

    .footer .container .row a {
        margin-left: 0;
        text-align: left;
        width: max-content;
    }

    footer .container .social-media {
        flex-direction: row;
        gap: 20px;
    }
}