body {
    background-color: #000 !important;
    background-image: none !important;
}

main {
    margin: 50px 20px !important;
    min-height: calc(100vh - 70px) !important;
}


.body {
    padding: 20px;
}

li {
    margin-left: 50px;
}