main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    padding-top: 20px;
    gap: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    z-index: 1;
}

.register-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    font-size: 1.2rem;
    height: 50px;
    color: #000;
}

form input::placeholder {
    color: #000;
}

form input:focus {
    outline: none;
}

form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    font-size: 1.2rem;
    height: 50px;
    color: #000;
}

form select::placeholder {
    color: #000;
}

form select:focus {
    outline: none;
}

form select option {
    color: #000;
}

.payment-qr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 800px;
}

.payment-qr img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

form input[type="file"] {
    display: none;
}

.payment-screenshot {
    width: 100%;
}

.payment-screenshot-upload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 800px;
    background-color: #FFF;
    color: #000;
    height: 50px;
    padding: 0px 10px;
}

.payment-screenshot-upload p {
    font-size: 1.2rem;
    color: #000;
}

#tos-checkbox {
    width: 100%;
}

button {
    padding: 10px 30px !important;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.primary-button {
    background-color: #34736c;
    color: #fff;
    transition: 0.3s;
    box-shadow: 3px 3px 1px 0 rgba(52, 115, 108, 0.5);
    font-size: 1.2rem;
    margin-top: 1rem;
    border: 1px solid #34736c;
    margin-left: auto;
    margin-bottom: 100px;
}

#registration_amount {
    font-size: 1.2rem;
    font-weight: 700;
}