<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechOdyssey</title>

    <!-- SEO meta tags -->
    <meta name="title" content="TechOdyssey">
    <meta name="description" content="   ">
    <meta name="keywords" content="TechOdyssey, K.R. Mangalam University, Tech Fest, CSI Club">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="7 days">
    <meta name="author" content="CSI Club, K.R. Mangalam University">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://metatags.io/" />
    <meta property="og:title" content="TechOdyssey" />
    <meta property="og:description"
        content="TechOdyssey is the K.R. Mangalam University's annual tech fest organized by the CSI Club, K.R. Mangalam University." />
    <meta property="og:image" content="https://storage.techodyssey.dev/csi-logo.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://metatags.io/" />
    <meta property="twitter:title" content="TechOdyssey" />
    <meta property="twitter:description"
        content="TechOdyssey is the K.R. Mangalam University's annual tech fest organized by the CSI Club, K.R. Mangalam University." />
    <meta property="twitter:image" content="https://storage.techodyssey.dev/csi-logo.png" />


    <!-- Favicon -->
    <link rel="icon" href="https://storage.techodyssey.dev/csi-logo.png" type="image/png">

    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">

    <!-- Font's -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="{{url_for('static', filename='js/app.js')}}" defer></script>
</head>

<body>
    {% include 'private/navbar.html' %}
    <main>
        {% block main %}

        {% endblock %}
    </main>
</body>

</html>