<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
<footer>
    <div class="container">
        <div class="row">
            <p class="text-center">&copy; 2024, Tech Odyssey</p>
            <div>
                <a href="{{url_for('privacy_policy')}}" class="text-center">Privacy Policy</a>
                <a href="{{url_for('terms_of_service')}}" class="text-center">Terms of Service</a>
            </div>


        </div>
        <div class="social-media">
            <iframe src="https://status.techodyssey.dev/badge?theme=dark" width="250" height="30" frameborder="0" scrolling="no"></iframe>
            <li><a href="tel:+917029841063" target="_blank"><i class="fas fa-phone"></i></a></li>
            <li><a href="mailto:support@techodyssey.dev" target="_blank"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://www.instagram.com/techodysseykrmu" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
        </div>
    </div>
</footer>