<link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
<script src="{{url_for('static', filename='js/navbar.js')}}"></script>
<nav class="navbar">
    <div class="logo">
        <a href="/"><img src="https://storage.techodyssey.dev/csi-logo.png" alt="TechOdyssey Logo"></a>
        <a href="/"><img class="krmu-logo" src="/static/images/krmu-logo.png" alt="Kr Mangalam University Logo"></a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/#events-section">Events</a></li>
        {% if session.get('user') is none %}
        <li><a href="/#faq's-section">FAQ's</a></li>
        <li><a href="/register" class="register">Register</a></li>
        {% else %}
        <li><a href="/user/events">My Events</a></li>
        <li>
            <div class="user_info">
                <a href="/authentication/sign-out"><img src="{{session.user.user_avatar_url}}" alt="Profile Picture"
                        title="Sign Out"></a>
            </div>
        </li>
        {% endif %}
    </ul>
    {% if session.get('user') is not none %}
    <div class="user_info user_info_mobile">
        <a href="/authentication/sign-out"><img src="{{session.user.user_avatar_url}}" alt="Profile Picture"
                title="Sign Out">
        </a>
    </div>
    {% endif %}
    <div class="hamburger" onclick="toggleMobileNav()">
        <svg class="hamburger-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
            <path class="hamburger-icon" d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>
    </div>
    <div class="mobile-nav-links">
        <ul>
            <li><a href="/" class="mobile-nav-link">Home</a></li>
            <li><a href="/#events-section" class="mobile-nav-link">Events</a></li>
            <li><a href="/#faq's-section" class="mobile-nav-link">FAQ's</a></li>
            {% if session.get('user') is none %}
            <li><a href="/register" class="register mobile-nav-link">Register</a></li>
            {% else %}
            <li><a href="/user/events" class="mobile-nav-link">My Events</a></li>
            {% endif %}
        </ul>
    </div>
</nav>