{% extends 'private/base.html' %}

{% block main %}

<link rel="stylesheet" href="{{url_for('static', filename='css/cancellation.css')}}">

<h1 id="refund-policy">Refund Policy</h1>
<p>Effective date: [Date]</p>
<p>Thank you for choosing Tech Odyssey. Please read this policy carefully. This is the Refund Policy of Tech Odyssey.
</p>
<h2 id="registrations-once-made">Registrations Once Made</h2>
<p>Registrations for our events or services once made cannot be cancelled, except in cases of technical errors,
    overlapping events, or other exceptional circumstances at the discretion of Tech Odyssey.</p>
<h2 id="technical-errors">Technical Errors</h2>
<p>If you encounter a technical error during the registration process that results in duplicate payments or other
    issues, please contact us immediately for assistance. We will review the situation and provide a refund if the error
    is verified to be on our end.</p>
<h2 id="overlapping-events">Overlapping Events</h2>
<p>If you have inadvertently registered for overlapping events and are unable to participate in all of them, you may
    request a cancellation and refund. Please provide proof of the overlapping schedules to support@techodyssey.dev for
    review.</p>
<h2 id="contact-us">Contact Us</h2>
<p>If you have any questions about our Refund Policy, please contact us:</p>
<ul>
    <li>By email: support@techodyssey.dev</li>
</ul>

{% endblock %}