{% extends 'private/base.html' %}

{% block meta_description %}
<meta name="description"
    content="TechOdyssey event gallery, check out the memories of our past events and get a glimpse of what we do." />
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='css/gallery.css')}}">

<div id="gallery">
    <div class="gallery-landing-image">
        <img src="https://storage.techodyssey.dev/techodyssey-2024-cover-image.jpeg" alt="TechOdyssey 2024">
    </div>
    <div class="gallery-content">
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(1).jpg" alt="TechOdyssey 2024" loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(2).jpg" alt="TechOdyssey 2024" loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(3).jpg" alt="TechOdyssey 2024" loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(4).jpg" alt="TechOdyssey 2024" loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(5).jpg" alt="TechOdyssey 2024" loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(6).jpg" alt="TechOdyssey 2024" loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(7).jpg" alt="TechOdyssey 2024" loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(8).jpg" alt="TechOdyssey 2024" loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(9).jpg" alt="TechOdyssey 2024" loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(10).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(11).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(12).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(13).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(14).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(15).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(16).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(17).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(18).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(19).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(20).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(21).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(22).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(23).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(24).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(25).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(26).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(27).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(28).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(29).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(30).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(31).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(32).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(33).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(34).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(35).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>
        <div class="gallery-image">
            <img src="https://storage.techodyssey.dev/techodyssey-2024%20(36).jpg" alt="TechOdyssey 2024"
                loading="lazy">
        </div>

    </div>
</div>
{% endblock %}