{% extends 'private/base.html' %}

{% block main %}

<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
<script src="{{url_for('static', filename='js/register.js')}}"></script>

<h1>Register</h1>

<div class="register-form">
    <form>
        <input id="name" name="name" type="text" placeholder="Name" value="{{session.user.name | title}}" disabled>
        <input id="email" name="email" type="email" placeholder="Email" value="{{session.user.email | lower}}" disabled>
        <input id="phone" name="phone" type="tel" placeholder="Phone Number" required>
        <select id="event-id" name="event-id" required onchange="updateRegistration()">
            <option value="" disabled selected>Select Event</option>
            <option value="0">Code Clash</option>
            <option value="1">Web Dash</option>
            <option value="2">Treasure Quest</option>
            <option value="3">Reel Craft</option>
            <option value="4">Battle Blitz: Valorant</option>
            <option value="5">Battle Blitz: BGMI</option>
            <option value="6">Battle Blitz: Free Fire</option>
        </select>
        <br>
        <div id="team-details" class="team-details" style="width: 100%;gap: 20px;display: none;flex-direction: column;">
            <input id="team-name" name="team-name" type="text" placeholder="Team Name">
            <input id="team-member-1-name" name="team-member-1-name" type="text" placeholder="Team Member 1 Name"
                required value="{{session.user.name | title}}" disabled>
            <input id="team-member-2-name" name="team-member-2-name" type="text" placeholder="Team Member 2 Name">
            <input id="team-member-3-name" name="team-member-3-name" type="text" placeholder="Team Member 3 Name">
            <input id="team-member-4-name" name="team-member-4-name" type="text" placeholder="Team Member 4 Name">
            <input id="team-member-5-name" name="team-member-5-name" type="text" placeholder="Team Member 5 Name"
                style="display: none;">
        </div>
        <div id="payment-info-container" class="payment-info-container" style="display: none;">

            <p class="payment-info"><a href="https://securegw.paytm.in/link/paymentForm/13143/LL_689542600"
                    target="_blank">Click here</a> or scan the QR code below to pay the registration fee of <span
                    style="font-size: 1.2rem;font-weight: 700;">₹</span><span id="registration_amount">000</span>,
                please
                ensure
                to fill in the same details in the payment form and the registration form. After payment, upload the
                screenshot of the payment and the transaction ID.</p>
            <div class="payment-qr">
                <img src="https://storage.techodyssey.dev/patym-qr-code.svg" alt="Paytm QR Code">
            </div>
            <div class="payment-screenshot" onclick="document.getElementById('payment-screenshot').click()"
                style="cursor: pointer;">
                <input id="payment-screenshot" name="payment-screenshot" type="file" accept=".png,.jpg,.jpeg,.gif"
                    required style="display: none;" onchange="updatePaymentScreenshot()">
                <div class="payment-screenshot-upload">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path
                            d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H520q-33 0-56.5-23.5T440-240v-206l-64 62-56-56 160-160 160 160-56 56-64-62v206h220q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h100v80H260Zm220-280Z" />
                    </svg>
                    <p>Upload Payment Screenshot</p>
                </div>
            </div>
            <input id="payment-transaction-id" name="payment-transaction-id" type="text"
                placeholder="Payment Transaction ID" required>
        </div>
        <button class="primary-button" type="button" onclick="register()" id="register-button">Register</button>
    </form>
</div>

{% endblock %}