{% extends 'private/base.html' %}

{% block main %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/events.css') }}">

<h1>Battle Blitz</h1>

<div class="event-description">
    <div class="event-description-image">
        <img src="{{ url_for('static', filename='images/battle-blitz.jpeg') }}" alt="Battle Blitz">
    </div>
    <div class="event-description-text">
        <h2>Event Details</h2>
        <ul>
            <li><strong>Date:</strong><span>2nd, May 2024</span></li>
            <li><strong>Time:</strong><span>To Be Announced</span></li>
            <li><strong>Location:</strong><span>K.R. Mangalam University</span></li>
            <li><strong>Registration Fee:</strong><span>₹ 400 / Team</span></li>
            <li><strong>Prize Money:</strong><span>₹ 3,000</span></li>
        </ul>
        <h2>Event Description</h2>
        <p>
            Get ready for an eSports extravaganza like no other, featuring the hottest games of the moment: Valorant,
            BGMI (Battlegrounds Mobile India), and Free Fire.
            <br>
            <br>
            The event will be organized with a focus on practicality. Players will need to bring their own setups,
            ensuring they're comfortable and ready to compete. Preliminary rounds will be held online, allowing teams
            from all over to participate without the hassle of travel. Only the final showdown will take place at the
            event venue, creating an electrifying atmosphere for players and fans alike. It's all about making it
            accessible and exciting for everyone involved!
            <br>  
            <br>  
            So mark your calendars and get ready for an eSports experience like no other. Whether you're a player or a
            fan, this extravaganza promises thrills, excitement, and unforgettable moments!
        </p>
    </div>
</div>


{% endblock %}