{% extends 'private/base.html' %}

{% block main %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/events.css') }}">

<h1>Web Dash</h1>

<div class="event-description">
    <div class="event-description-image">
        <img src="https://storage.techodyssey.dev/web-dash.png" alt="Web Dash">
        <button class="primary-button" onclick="window.location.href='/register?event=web-dash'"
            style="width: 100%;">Register
            Now</button>
    </div>
    <div class="event-description-text">
        <h2>Event Details</h2>
        <ul>
            <li><strong>Date:</strong><span>2nd, May 2024</span></li>
            <li><strong>Time:</strong><span>10:30 AM - 12:30 PM</span></li>
            <li><strong>Registration Fee:</strong><span>₹ 200 / Person</span></li>
            <li><strong>Prize Money:</strong><span>₹ 1,500</span></li>
        </ul>
        <h2>Event Description</h2>
        <p>
            Embark on a journey of creativity and innovation with Web Dash! Step into the world of web design and unleash your imagination as you create fully functional webpages within a limited time frame.
            Whether you're passionate about design or just looking to explore a new skill, Web Dash offers a platform to showcase your talent and push the boundaries of web design.
            <br><br>
            From captivating visuals to seamless functionality, participants will have the opportunity to craft websites that leave a lasting impression.
            <br><br>
            So fire up your creativity, sharpen your design skills, and get ready to dash into the world of web design!
        </p>
    </div>
    </p>
</div>
</div>
<div class="faq-section" id="faq's-section">
    <h2><span>FAQ's</span>
    </h2>
    <div class="faq">
        <div class="faq-item">
            <h3 onclick="toggleFaq(this)" style="cursor:pointer;"><span>Who is eligible to enter the
                    competition?</span><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
                    width="24">
                    <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                </svg></h3>
            <p class="hidden">Tech Odyssey is open to all tech enthusiasts, including students (Class 12th and above),
                professionals, and hobbyists. Participants can register for various events based on their interests and
                skills.
            </p>
        </div>

        <div class="faq-item">
            <h3 onclick="toggleFaq(this)" style="cursor:pointer;"><span>What happens if someone cheats during the
                    competition?</span><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
                    width="24">
                    <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                </svg></h3>
            <p class="hidden">Any form of cheating will result in immediate disqualification. We uphold fair play and
                sportsmanship at all times. The decision of the judges will be final and binding.</p>
        </div>

        <div class="faq-item">
            <h3 onclick="toggleFaq(this)" style="cursor:pointer;"><span>How are prizes awarded in the
                    competition?</span><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
                    width="24">
                    <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                </svg></h3>
            <p class="hidden">Prizes will be granted to the top-performing teams or individuals as determined by the
                judging panel. Additionally, all participants will receive a participation certificate.</p>
        </div>

        <div class="faq-item">
            <h3 onclick="toggleFaq(this)" style="cursor:pointer;"><span>What is the expected code of conduct for
                    participants?</span><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960"
                    width="24">
                    <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                </svg></h3>
            <p class="hidden">Participants are expected to maintain professionalism and respect towards their fellow
                competitors throughout the competition.</p>
        </div>

        <div class="faq-item">
            <h3 onclick="toggleFaq(this)" style="cursor:pointer;"><span>Can I participate in the Battle Blitz
                    competition
                    alone or do I need to be in a group?</span><svg xmlns="http://www.w3.org/2000/svg" height="24"
                    viewBox="0 -960 960 960" width="24">
                    <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z" />
                </svg></h3>
            <p class="hidden">The Battle Blitz competition requires participants to form teams. Each team must consist
                of
                a minimum of 4 members for BGMI and Free Fire and 5 members for Valorant.</p>
        </div>

    </div>
    <p class="call-to-action-faq"><a href="mailto:support@techodyssey.dev">Have more questions? Contact us at
            support@techodyssey.dev for assistance.</a></p>
</div>

{% endblock %}